/*
need to clean up and remove all the repeated CSS. 

:root works as a global scope that lets me use it in everything I want 
rather then absolutely everything like using body or * its also "Faster" lol 
*/
html,
body {
  font-family: "Russo One", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.shared-box-styles {
  background: rgba(0, 0, 0, 0.8);
  color: greenyellow;
  border-radius: 10px;
  padding: 10px 20px;
}
button {
  padding: 8px 20px;
  font-size: 1rem;
  background-color: greenyellow;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: paleturquoise;
  color: black;
}
#map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#map-image {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
}
#geoguesser-title {
  font-size: 4rem;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#guess-box {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
  align-items: center;
  text-align: center;
}
#guess-box label {
  font-weight: bold;
}
#guess-box input[type="text"] {
  padding: 8px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: paleturquoise;
}
#player-name-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#player-name-box label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
#player-name-box input[type="text"] {
  padding: 8px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 12px;
  width: 100%;
  max-width: 300px;
  background-color: paleturquoise;
}
#question-box {
  position: absolute;
  display: none;
  text-align: center;
  transform: translate(-50%, -100%);
}
.arrow-down {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid yellowgreen;
}
#high-scores {
  display: none;
  width: 200px;
  padding: 20px;
  border: 4px solid;
  border-radius: 10px;
  margin-bottom: 10px;
}
#high-scores-card {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
#high-scores-ol li {
  display: block;
  text-align: left;
  margin: 4px 0;
}
#timer {
  display: none;
  position: fixed;
  font-size: 30px;
  top: 5px;
  right: 20px;
  width: 90px;
  height: 35px;
  text-align: center;
}
#ending-frame {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#goodgame {
  font-size: 2.5rem;
}
#your-score-ending {
  font-size: 1.5rem;
  margin-top: 10px;
  border: 4px solid;
  border-radius: 10px;
}
